{
    "extends": "eslint:recommended",
    // "extends": "airbnb",

    "parser": "babel-eslint",

    "rules": {
        "indent": [ 2, 4 ],
        "quotes": [ 1, "single" ],
        "linebreak-style": [ 2, "unix" ],
        "semi": [ 1, "always" ],
        "no-unused-vars": 1,
        "no-cond-assign": 1,
        "no-debugger": 2,
        "eqeqeq": 1,
        "constructor-super": 1,
        "no-this-before-super": 1,
        "valid-jsdoc": 2,
        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2,
        "react/react-in-jsx-scope": 2,
        "no-var": 2,
        "prefer-arrow-callback": 1,
        "vars-on-top": 0,
        "prefer-const": 2,
        "prefer-template": 1,
        "require-yield": 2,
        "prefer-reflect": 1,
        "no-console": 2,
        "eol-last": 1,
        "no-mixed-requires": 1,
        "consistent-return": 1,
        "comma-dangle": 0
    },

    "env": {
        "es6": true,
        "browser": true,
        "mocha": true,
        "node": true
    },

    "ecmaFeatures": {
        "modules": true,
        "jsx": true,
        "experimentalObjectRestSpread": true
    },

    "plugins": [ "react" ],

    "globals": {
        "__DEV__": false
    }
}
